<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />

    <title>Park&Ride</title>
</head>

<body>
    <div class=c-container>
        <header class="c-header">
            <figure class="c-figure">

            </figure>
            <nav role=navigation class="c-navigation">
                <ul id="id_menu" class="c-menu">
                    <li id="home_nav" class="c-menu__item"><a data-language="home" class="c-menu__anchor u-link" href="~/">Strona główna</a></li>
                    <li id="news_nav" class="c-menu__item"><a data-language="news" class="c-menu__anchor u-link" href="">Aktualności</a></li>
                    <li id="map_nav" class="c-menu__item"><a data-language="map" class="c-menu__anchor u-link">Mapa Parkingów</a></li>
                    <li id="contact_nav" class="c-menu__item"><a data-language="contact" class="c-menu__anchor u-link" href="">Kontakt</a></li>
                    <li id="log_nav" class="c-menu__item"><a data-language="logIn" class="c-menu__anchor u-link" href="~/Account/Login">Zaloguj</a></li>
                </ul>

            </nav>
        </header>
        @RenderBody()
    </div>
    <footer class="c-footer">
        <p>&copy; 2018 Daniel Wasilewski</p>
        <p>Politechnika Warszawska</p>
    </footer>

    <script src="~/js/slider.js"></script>
</body>

</html>