<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Park&Ride</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class=c-container>
        <header class="c-header">
            <figure class="c-figure">

            </figure>
            <nav role=navigation class="c-navigation">
                <ul id="id_menu" class="c-menu">
                    <li id="home_nav" class="c-menu__item"><a data-language="home" class="c-menu__anchor u-link" href="~/">Strona główna</a></li>
                    <li id="log_nav" class="c-menu__item"><a data-language="logIn" class="c-menu__anchor">Konto</a></li>
                </ul>

            </nav>
        </header>
        @RenderBody()
    </div>
    <footer class="c-footer" style="position:relative; bottom:0; width:100%">
        <p>&copy; 2018 Daniel Wasilewski</p>
        <p>Politechnika Warszawska</p>
    </footer>
</body>
</html>