<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Park&Ride</title>
</head>
<body>
    <div class=c-container>
        <header class="c-header">
            <figure class="c-figure">

            </figure>
            <nav role=navigation class="c-navigation">
                <ul id="id_menu" class="c-menu">
                        <li id="home_nav" class="c-menu__item"><a data-language="home" class="c-menu__anchor" >Strona główna</a></li>                       
                        <li id="log_nav" class="c-menu__item"><a data-language="logIn" class="c-menu__anchor">Konto</a></li>
                    </ul>
                
            </nav>
        </header>
        @RenderBody()
    </div>
</body>
</html>