@model ParkAndRide.Models.Account
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{


    <section class="c-form--section u-center">
        <form method="post" action="#" role="login" class="c-form u-center">
            <div class="u-center" style="width:25%">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = "Login", @class = "c-form-control" } })
                @Html.ValidationMessageFor(model => model.Login)
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Hasło", type = "password", @class = "c-form-control" } })
                @Html.ValidationMessageFor(model => model.Password)

                <button type="submit" name="go" class="c-button u-center">Zarejestruj</button>
                
            </div>

        </form>
    </section>


}