@model ParkAndRide.App.EMail.MailModel

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="c-form--section u-center">
    <form method="post" action="#" class="c-form u-center">
        <div class="u-center" style="width:60%">
            <label class="c-form__label">Imię:</label>
            <input asp-for="Name" type="text" name="name" placeholder="Imię" required class="c-form-control" />
            <label class="c-form__label">Nazwisko:</label>
            <input asp-for="Surname" type="text" name="surname" placeholder="Nazwisko" required class="c-form-control" />
            <label class="c-form__label">Email:</label>
            <input asp-for="Email" type="email" name="email" placeholder="Email" required class="c-form-control" />

            <label class="c-form__label" for="comment">Wiadomość:</label>
            <textarea asp-for="Message"class="c-form-control" rows="10" id="comment"></textarea>
            <button type="submit" name="go" class="c-button u-center">Wyślij</button>
        </div>

    </form>
</section>  